<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update SEDE</title>
</head>
<body>
  <body style="font-family: 'Trebuchet MS'"></body>
  <h2>Update Data in SEDE Table</h2>
  <form action="/updates/submitUpdatedSede" method="post">
    <label for="cuit">CUIT:</label>
    <input type="text" name="cuit" value="<%= sedeData.cuit %>" readonly><br>

    <label for="nombre_sede">Nombre Sede:</label>
    <input type="text" name="nombre_sede" value="<%= sedeData.nombre_sede %>" required><br>

    <label for="direccion">Dirección:</label>
    <input type="text" name="direccion" value="<%= sedeData.direccion %>" required><br>

    <label for="ciudad">Ciudad:</label>
    <input type="text" name="ciudad" value="<%= sedeData.ciudad %>" required><br>

    <label for="provincia">Provincia:</label>
    <input type="text" name="provincia" value="<%= sedeData.provincia %>" required><br>

    <label for="pais">País:</label>
    <input type="text" name="pais" value="<%= sedeData.pais %>" required><br>

    <label for="codigoPostal">Código Postal:</label>
    <input type="text" name="codigoPostal" value="<%= sedeData.codigoPostal %>" required><br>

    <label for="alquiler">Alquiler:</label>
    <input type="number" name="alquiler" value="<%= sedeData.alquiler %>" required><br>

    <label for="capacidad">Capacidad:</label>
    <input type="number" name="capacidad" value="<%= sedeData.capacidad %>" required><br>

    <button type="submit">Update Data</button>
  </form>
</body>
</html>
